<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <br>
            <ul class="list-unstyled">
                <p>
                    <label>Customer Comments</label>
                    <span class="sortLabel" style="color:grey;font-size: 9pt">Sort by:
                                <input type="text" placeholder="enter criteria"  ng-model="commentSort">                           </label></p>
                    <li ng-repeat= "comment in dish.comments | orderBy:commentSort">
                        <blockquote>
                            <p>{{comment.rating}} stars</p>
                            <p>{{comment.comment}}</p>
                            <footer>{{comment.author}},{{comment.date | date:'longDate' }}                                   </footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled" ng-show="!commentForm.$invalid && !commentForm.$pristine" ng-hide="commentForm.$invalid">
                    <blockquote>
                            <p>{{newComment.rating}} stars</p>
                            <p>{{newComment.comment}}</p>
                            <footer>{{newComment.author}},{{newComment.date | date:'longDate' }}                                   </footer>
                        </blockquote>
                </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                        <label for="name" class="col-sm-2 control-label">Your  Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="newComment.author" required>
                            <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Your name is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Number of Stars</label>
        <div class="col-sm-10">

            <label class="radio-inline">
                <input type="radio" name="radioGroup" id="radio1" ng-value="1" ng-model="newComment.rating"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioGroup" id="radio2" ng-value="2" ng-model="newComment.rating"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioGroup" id="radio3" ng-value="3" ng-model="newComment.rating"> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioGroup" id="radio4" ng-value="4" ng-model="newComment.rating"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioGroup" id="radio5" ng-value="5" ng-model="newComment.rating" ng-checked="true"> 5
            </label>

        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : commentForm.commentArea.$error.required && !commentForm.commentArea.$pristine }">
        <label class="col-sm-2 control-label">Your Comment</label>
        <div class="col-sm-10">
            <textarea id="commentArea" name="commentArea" ng-model="newComment.comment" class="form-control" placeholder="Your Comment" rows="12" required></textarea>
            <span ng-show="commentForm.commentArea.$error.required && !commentForm.commentArea.$pristine" class="help-block">Your comments are required.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid" style='margin-top:10px;' ng-click='submitComment()'>Submit Comment</button>
        </div>
    </div>
    </form>

</div>
</div>
</div>