<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showDish">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{featuredDish.image}} alt="Uthapizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{featuredDish.name}}
                         <span class="label label-danger">{{featuredDish.label}}</span>
                         <span class="badge">{{featuredDish.price | currency}}</span></h2>
                    <p>{{featuredDish.description}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div ng-if="!showPromotion">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showPromotion">
                <div class="pull-right">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{promotion.image}} alt="promotion">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{promotion.name}}
                         <span class="label label-danger">{{promotion.label}}</span>
                         <span class="badge">{{promotion.price | currency}}</span></h2>
                    <p>{{promotion.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showChef">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showChef">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{executiveChief.image}} alt="Uthapizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{executiveChief.name}}
                         <span style="color:grey;font-size: 9pt">{{executiveChief.designation}}</span>
                        </h2>
                    <p>{{executiveChief.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>